name: Pull Request

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  comment_on_pr:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    
    - name: Check context
      run: |
        echo ${{ github.event.pull_request._links.comments.href }}
        echo ${{ github.event.pull_request.title }}
      
    - name: Comment on PR
      run: |
        curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          ${{ github.event.pull_request._links.comments.href }} \
          -d '{"body":"Hello asshole"}'
